.headhing_medium {

  font-size: 24px;
  font-weight: 500px !important;
  color: #1a1a1a;
  line-height: 28px;
}
.table_text {
  font-weight: 400px;
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}
.table_small_text {
  font-size: 12px;
  color: #333333;
  line-height: 12px;
  font-weight: 400px;
}



.text_xs  {
  font-size: 10px;
  line-height: 14px;
}

@media (min-width: 640px) {
  .small_text {
    font-size: 12px;
    line-height: 18px;
  }
}

.small_text {
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 640px) {
  .small_text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1080px) {
  .small_text {
    font-size: 14px;
    line-height: 21px;
  }
}

